@model IEnumerable<Diabetes1.Models.Exercises>

@{
    ViewBag.Title = "Exercise Management";
}

<h2>Exercise Management</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.symptom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suggestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProperExercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseInappropriate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepExercise)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symptom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suggestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProperExercise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseInappropriate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepExercise)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
