@model Diabetes1.Models.AnalyzeGlycemic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnalyzeGlycemic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symptom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symptom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cause)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cause)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakeCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakeCare)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
