@model Diabetes1.Models.Food

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.food_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_GlycemicIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_GlycemicIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_food }) |
    @Html.ActionLink("Back to List", "Index")
</p>
