@model IEnumerable<Diabetes1.Models.Food>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.food_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.food_Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.food_GlycemicIndex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.food_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.food_Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.food_GlycemicIndex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_food }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_food }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_food })
        </td>
    </tr>
}

</table>
