<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Diabetes Care", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                       <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patient <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        
                            <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("How to use Web app?", "About", "Home", routeValues: null, htmlAttributes: new { id = "aboutLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Patient profile info.", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "index" })</li>
                            @*<li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("วางแผนและติดตามสุขภาพ", "HealthPlan", "Account", routeValues: null, htmlAttributes: new { id = "HealplanLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("ติดตามพฤติกรรมบริโภคประจำวัน", "Index", "Account", routeValues: null, htmlAttributes: new { id = "HealplanLink" })</li>*@
                        </ul>
                           @*@Html.Partial("_LoginPartial")*@
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nutritionists<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                       
                            <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("How to use Web app?", "About", "Home", routeValues: null, htmlAttributes: new { id = "aboutLink" })</li>
                           @if (User.IsInRole("Nutritionists"))
                           { <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Nutrition management", "Index", "Foods", routeValues: null, htmlAttributes: new { id = "aboutLink" })</li>
                           }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nurse/Doctor <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("How to use Web app?", "About", "Home", routeValues: null, htmlAttributes: new { id = "aboutLink" })</li>
                              @if (User.IsInRole("Nurse") || User.IsInRole("Doctor"))
                            {
                              <li role="separator" class="divider"></li>
                             <li>@Html.ActionLink("Enter Patient to system", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("List of patient.", "Index", "SearchUser", routeValues: null, htmlAttributes: new { id = "aboutLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Exercise management.", "Index", "Exercises", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Manage recommend blood sugar level. ", "Index", "AnalyzeGlycemics", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                              }
                        </ul>
                    </li>
                    
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>
                            @Html.ActionLink("Administration", "Home", "Admin")</li>
                        }

</ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DiabetesCare WEb Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
