@model Diabetes1.Models.UserProfileInfo
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Diabetes1.Models;
@{
    ViewBag.Title = "DisplayProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

<h2>DisplayProfile</h2>

<div>
    <h4> Your Profile </h4>
    <hr />

    @using Microsoft.AspNet.Identity;
    @using Microsoft.AspNet.Identity.EntityFramework;
    @using Diabetes1.Models;
    <dl class="dl-horizontal">

        <div>
            @{
                if (Request.IsAuthenticated)
                {
                    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                    var currentUser = manager.FindById(User.Identity.GetUserId());
                    String gender;
                    if (@currentUser.UserProfileInfo.Gender)
                    {
                        gender = "Male";
                    }
                    else {
                        gender = "Female";
                    }


                    <dt> Name: </dt>
                    <dd>
                        <p>@currentUser.UserProfileInfo.FirstName @currentUser.UserProfileInfo.LastName</p>
                    </dd>
                    <dt>Gender:</dt>
                    <dd>
                        <p>
                            @gender

                        </p>
                    </dd>
                        <dt>Age:</dt>
                            <dd>
                                <p>
                                    @currentUser.UserProfileInfo.Age
                                </p>
                            </dd>
                            <dt>Height:</dt>
                            <dd>
                                <p>
                                    @currentUser.UserProfileInfo.Height
                                </p>
                            </dd>

                    }
                }


        </div>
       
        
         <dt>Medicine:</dt>
        <dd>       
                <p>
                    <form action="/Account/AddMedicine" method="post">
                        <input name="name" />
                        <input type="submit" />
                    </form>
                </p>
        </dd>
        <h1>Medicine</h1>
        <div>
            <table>
                <tr><th>Name</th><th>Delete</th></tr>
                @{
                    List<Medicine> userMedicine = (List<Medicine>)ViewData["Medicines"];
                }
                @foreach (var um in userMedicine)
                {
                    var om= db.Medicines.Find(um.Id);
                    <tr>
                        <td>@om.MedicineName</td>
                        <td>
                            <form action="/Account/DeleteMedicine/" method="post">
                                <input type="hidden" name="id" value="@om.Id" />
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
   
    </dl>
    
    <div><a>Healthy Plan</a><a>Analyze</a></div>
</div>