@model Diabetes1.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activity_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_calories)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_activity }) |
    @Html.ActionLink("Back to List", "Index")
</p>
